<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Podaj swoje dane</h1>

<form action="/result" method="get">
    <label>Podaj imie:</label>
    <input type="text" name="firstName">
    <br>
    <br>
    <label>Podaj nazwisko:</label>
    <input type="text" name="lastName">
    <input type="submit" value="Pokaż">
</form>

</body>
</html>